.container {
    padding: 0 2rem;
    
}

.businessForm {
    display: grid;
    place-items: center;
    border: 1px solid black;
    padding: 2rem;
  }

.businessDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.businessName {
    word-wrap: wrap;
}